// Sækja config
@import './config';

nav .bigger{
    visibility:visible;
    background-color: red;
    width: 100%;
    overflow: none;
}
nav .smaller{
    visibility: hidden;
}

nav .bigger ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .bigger li {
    display: inline-block;
    margin-right: 4rem;
}
nav .bigger ul li .t_budin{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}

nav .bigger input{
    width: 350px;
}

@media (max-width: 1000px) {
    nav .bigger{
        background-color: red;
        visibility: hidden;
    };

    nav .smaller{
        background-color: yellow;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav .smaller .content{
      display: inline;

    	margin: 0;
    	padding: 0;
		}

		nav .smaller ul li .t_budin{
		 	font-size: 1.5rem;
		  font-weight: 700;
	 	}

		nav .smaller .hamburger_image img{
      float: right;
      width: 25px;
      height: 25px;
    }

		nav .smaller ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		nav .smaller li {
			display: inline-block;
			margin-right: 4rem;
		}

    nav .smaller input{
        width: 350px;
    }
}