// Sækja config
@import './config';

nav .bigger{
  visibility:visible;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
nav .smaller{
  visibility: hidden;
}

nav .bigger ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 5px;
}

nav .bigger li {
  margin-right: 4rem;
}

nav .bigger .image {
  display: flex;
}

nav .bigger ul li .t_budin{
  font-size: 1.5rem;
  font-weight: 500;
}

nav .bigger input{
  width: 350px;
}

nav .bigger a{
  display: flex;
  width: 100%;
  margin-left:1%;
  text-decoration: none;
  color: black;
}

nav .bigger .buy{
  margin-right: 5px;
} 

@media (max-width: 1000px) {
    nav .bigger{
    visibility: hidden;
    };

  nav .smaller{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav .smaller .content{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;    	
		}
  
  nav .smaller .content .image {
    display: flex;
    box-sizing: border-box;
  }
  
  nav .smaller .t_budin{
    font-size: 1.5rem;
    font-weight: 500;
  }

  nav .smaller .content details summary{
    margin-top: 5px;
    outline:none;
    cursor: pointer;
    display: inline-block;
    border-bottom: 10px double black;
    border-top: 3.5px solid black;
    height: 4px;
    width: 25px;
    box-sizing:initial;
  }

  nav .smaller .content ul {
    list-style: none;
    margin-top: 30px;
    width: 150px;
    float: left;
  }

  nav .smaller .content a{
    display: block;
    line-height:20px;
    margin-left:1%;
    text-decoration: none;
    color: black;
  }
  
  nav .smaller input{
    width: 350px;
  }
}
